@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


body {
    padding: 0;
    margin: 0;
    max-width: 100vw;

    max-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.login__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $nav-bg;

    .info_text {
        box-shadow: -3px 8px 16px -10px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: $base-color;
        margin: auto;
        color: white;
        padding: 20px 0px 20px 20px;
        width: 80%;
        height: 70%;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        margin-left: 120px;

        h1 {
            font-size: 3rem;
            margin: 0;
            padding-left: 20px;

            ::after {
                content: '';
                width: 100%;
                height: 10px;
                padding: 10px;
                background-color: white;

            }
        }

        span {
            padding: 20px;
            width: 80%;
            line-height: 1.5rem;
            font-weight: 200;
            font-size: .9rem;
        }

        hr {
            width: 60%;

        }

        button {
            cursor: pointer;
            width: 30%;
            padding: 10px;
            margin: 20px;
            outline: none;
            border: none;
            font-family: 'Poppins',
                sans-serif;
            font-weight: bold;
            font-size: .8rem;
            letter-spacing: 1.2px;
            background-color: white;
            color: $base-color;
            border-radius: 6px;
        }

    }


    .form {
        box-shadow: 5px 16px 25px -20px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0px 20px 20px;
        margin: auto;
        margin-right: 200px;
        width: 80%;
        height: 70%;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: white;
        position: relative;
        overflow: hidden;

        .error {
            position: absolute;
            top: 0;
            font-size: .8rem;
            font-weight: 400;
            background-color: $base-color;
            color: white;
            padding: 10px;
            width: 100%;
            text-align: center;
            transition: opacity 100ms;
        }

        .hidden {
            transition: opacity 100ms;
            opacity: 0;
        }


        input {
            width: 70%;
            // border-radius: 10px;
            border: none;
            outline: none;
            margin: 10px;
            border-bottom: 1px solid black;
            padding: 10px;
        }

        button {
            box-shadow: 7px 8px 14px -10px rgba(0, 0, 0, 0.75);
            cursor: pointer;
            width: 70%;
            padding: 10px 15px;
            margin: 30px;
            outline: none;
            border: none;
            font-family: 'Poppins',
                sans-serif;
            font-weight: bold;
            letter-spacing: 1.2px;
            background-color: $base-color;
            color: white;
            border-radius: 6px;
        }
    }
}

@media only screen and (max-width:$small) {
    .login__container {
        padding: 0;
        margin: 0;


        .info_text,
        .form {
            margin: auto;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}

@media only screen and (min-width:$large) {
    .login__container {

        .info_text {
            margin-left: 200px;
        }

        .form {
            margin-right: 200px;
        }
    }
}